<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        
        <menuitem id="menu_wex_purchase_list_root"
                  name="Lista de la compra"
                  action="action_wex_purchase_list_line"
                  web_icon="wex_purchase_list,static/description/icon.png"
                  sequence="35"
                  application="True"/>
        
    </data>
</odoo>
