<?xml version="1.0" encoding="utf-8"?>
<odoo>
    
    <menuitem id="menu_wex_purchase_root" 
              name="Wex Purchase" 
              sequence="10" 
              web_icon="base,static/description/icon.png"/>
    
    <menuitem id="menu_wex_purchase_category" 
              name="Operations" 
              parent="menu_wex_purchase_root" 
              sequence="10"/>
    
    <menuitem id="menu_wex_purchase_list" 
              name="Purchase List" 
              parent="menu_wex_purchase_category" 
              action="action_wex_purchase_list" 
              sequence="10"/>
    
</odoo>